{{!--
/**
 * ------------------------------------------------------------------------------
 * © ISC it & software consultants GmbH  (All rights reserved.)
 * DO NOT MODIFY THIS FILE !
 * ------------------------------------------------------------------------------
 * Author        : MoschkauM
 * Create Date   : 28.02.2025
 * Change Date   : 28.02.2025
 * Main Program  : Zeiterfassung Usability-Anpassungen
 * Description   : Detailansicht für Fieldset anpassen
 * ------------------------------------------------------------------------------
 * Change Log    :
 * Date        Name    Description
 * ------------------------------------------------------------------------------
 * ------------------------------------------------------------------------------
 */
 --}}
{{#each fields}}
    <div class="fieldset-field{{#if this.licensed}} hidden{{/if}}" style="vertical-align:middle;">
        {{placeholder}}
    </div>
{{/each}}
