<div style="position: relative; height: 100vh;">
    <div style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%);">
        <div class="form-group">
            <label for="lensware-kundennummer-field">{{str "Lensware Kundennummer festlegen"}}</label>
            <input type="number" id="lensware-kundennummer-field" class="form-control" value="{{lensware_kundennummer}}">
        </div>
        <div class="button-group">
            <button class="btn btn-primary">{{str "LBL_SAVE_BUTTON_LABEL"}}</button>
            <button class="btn btn-invisible btn-link">{{str "LBL_CANCEL_BUTTON_LABEL"}}</button>
        </div>
    </div>
</div>
